@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #212121;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #ffebcd;
}

p, ul, ol{
    color: white;
}

a {
    text-decoration: none;
    color: #2274A5;
}

a:hover {
    color: #42BFDD;
}

img {
    width: 100%;
    height: auto;
}

section {
    border-bottom: 3px solid #ffebcd;
    border-top: 3px solid #ffebcd;
    background: #4D4D4D;
}